In [0]:
!pip3 install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.12.0)

In [0]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

base_url = "https://gist.githubusercontent.com/alti-tude/710cb9d4dfc7ebcd0afb9cf93d8f6a8d/raw/574730ba009e69b81d6c79f2fef2c3dd5145db0a/"

In [0]:
data = {
    'apples': [3,2,0,1],
    'oranges':[0,3,7,2]
}

In [0]:
purchases= pd.DataFrame(data)
purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [0]:
purchases= pd.DataFrame(data,index=['June','Robert','Lily','David'])
purchases

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [0]:
purchases.loc['June']

apples     3
oranges    0
Name: June, dtype: int64

In [0]:
 purchases.csv
!cat purchases.csv

SyntaxError: ignored

In [0]:
df = pd.read_csv(base_url+'IMDB-Movie-Data.csv',index_col='Title')

In [0]:
df.head()

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0

[5 rows x 11 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 133.8+ KB

In [0]:
df.shape

(1000, 11)

In [0]:
temp_df=df.append(df)
# duplicate

In [0]:
temp_df.shape

(2000, 11)

In [0]:
temp_df=temp_df.drop_duplicates
temp_df.shape

AttributeError: ignored

In [0]:
df.rename(columns={'Runtime (Minutes)': 'Runtime','Revenue (Millions)': 'Revenue_Millions'},inplace=True)
df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue_Millions', 'Metascore'],
      dtype='object')

In [0]:
df.isnull()

                          Rank  Genre  ...  Revenue_Millions  Metascore
Title                                  ...
Guardians of the Galaxy  False  False  ...             False      False
Prometheus               False  False  ...             False      False
Split                    False  False  ...             False      False
Sing                     False  False  ...             False      False
Suicide Squad            False  False  ...             False      False
...                        ...    ...  ...               ...        ...
Secret in Their Eyes     False  False  ...              True      False
Hostel: Part II          False  False  ...             False      False
Step Up 2: The Streets   False  False  ...             False      False
Search Party             False  False  ...              True      False
Nine Lives               False  False  ...             False      False

[1000 rows x 11 columns]

In [0]:
temp_df=df
temp_df.shape

(1000, 11)

In [0]:
temp_df.dropna().isnull()

                           Rank  Genre  ...  Revenue_Millions  Metascore
Title                                   ...
Guardians of the Galaxy   False  False  ...             False      False
Prometheus                False  False  ...             False      False
Split                     False  False  ...             False      False
Sing                      False  False  ...             False      False
Suicide Squad             False  False  ...             False      False
...                         ...    ...  ...               ...        ...
Resident Evil: Afterlife  False  False  ...             False      False
Project X                 False  False  ...             False      False
Hostel: Part II           False  False  ...             False      False
Step Up 2: The Streets    False  False  ...             False      False
Nine Lives                False  False  ...             False      False

[838 rows x 11 columns]

In [0]:
temp_df.shape

(1000, 11)

In [0]:
revenue=df['Revenue_Millions']
revenue_mean=revenue.mean()
df.info()
revenue_mean
revenue
revenue.fillna(revenue_mean,inplace=True)
revenue

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              1000 non-null   int64
 1   Genre             1000 non-null   object
 2   Description       1000 non-null   object
 3   Director          1000 non-null   object
 4   Actors            1000 non-null   object
 5   Year              1000 non-null   int64
 6   Runtime           1000 non-null   int64
 7   Rating            1000 non-null   float64
 8   Votes             1000 non-null   int64
 9   Revenue_Millions  872 non-null    float64
 10  Metascore         936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 133.8+ KB

Title
Guardians of the Galaxy    333.130000
Prometheus                 126.460000
Split                      138.120000
Sing                       270.320000
Suicide Squad              325.020000
                              ...
Secret in Their Eyes        82.956376
Hostel: Part II             17.540000
Step Up 2: The Streets      58.010000
Search Party                82.956376
Nine Lives                  19.640000
Name: Revenue_Millions, Length: 1000, dtype: float64

In [0]:
genre_col=df['Genre']
type(genre_col),genre_col

(pandas.core.series.Series, Title
 Guardians of the Galaxy     Action,Adventure,Sci-Fi
 Prometheus                 Adventure,Mystery,Sci-Fi
 Split                               Horror,Thriller
 Sing                        Animation,Comedy,Family
 Suicide Squad              Action,Adventure,Fantasy
                                      ...
 Secret in Their Eyes            Crime,Drama,Mystery
 Hostel: Part II                              Horror
 Step Up 2: The Streets          Drama,Music,Romance
 Search Party                       Adventure,Comedy
 Nine Lives                    Comedy,Family,Fantasy
 Name: Genre, Length: 1000, dtype: object)

In [0]:
subset=df[{'Genre','Rating'}]
subset.head()

                         Rating                     Genre
Title
Guardians of the Galaxy     8.1   Action,Adventure,Sci-Fi
Prometheus                  7.0  Adventure,Mystery,Sci-Fi
Split                       7.3           Horror,Thriller
Sing                        7.2   Animation,Comedy,Family
Suicide Squad               6.2  Action,Adventure,Fantasy

In [0]:
prom = df.loc["Prometheus"]
prom

Rank                                                                2
Genre                                        Adventure,Mystery,Sci-Fi
Description         Following clues to the origin of mankind, a te...
Director                                                 Ridley Scott
Actors              Noomi Rapace, Logan Marshall-Green, Michael Fa...
Year                                                             2012
Runtime                                                           124
Rating                                                              7
Votes                                                          485820
Revenue_Millions                                               126.46
Metascore                                                          65
Name: Prometheus, dtype: object

In [0]:
#loc by name
#iloc by index
prom=df.iloc[1:4]
prom

            Rank                     Genre  ... Revenue_Millions Metascore
Title                                       ...
Prometheus     2  Adventure,Mystery,Sci-Fi  ...           126.46      65.0
Split          3           Horror,Thriller  ...           138.12      62.0
Sing           4   Animation,Comedy,Family  ...           270.32      59.0

[3 rows x 11 columns]

In [0]:
df.head()

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0

[5 rows x 11 columns]

In [0]:
movies_subset= df.loc['Prometheus':'Sing']
movies_subset

            Rank                     Genre  ... Revenue_Millions Metascore
Title                                       ...
Prometheus     2  Adventure,Mystery,Sci-Fi  ...           126.46      65.0
Split          3           Horror,Thriller  ...           138.12      62.0
Sing           4   Animation,Comedy,Family  ...           270.32      59.0

[3 rows x 11 columns]

In [0]:
df['Director'] == 'Ridley Scott'

Title
Guardians of the Galaxy    False
Prometheus                  True
Split                      False
Sing                       False
Suicide Squad              False
                           ...
Secret in Their Eyes       False
Hostel: Part II            False
Step Up 2: The Streets     False
Search Party               False
Nine Lives                 False
Name: Director, Length: 1000, dtype: bool

In [0]:
df[df['Director']=='Ridley Scott']
# boolena dataframe picks row otherwise column

                        Rank  ... Metascore
Title                         ...
Prometheus                 2  ...      65.0
The Martian              103  ...      80.0
Robin Hood               388  ...      53.0
American Gangster        471  ...      76.0
Exodus: Gods and Kings   517  ...      52.0
The Counselor            522  ...      48.0
A Good Year              531  ...      47.0
Body of Lies             738  ...      57.0

[8 rows x 11 columns]

In [0]:
df[df['Rating']>=8.6].head(3)

                 Rank                    Genre  ... Revenue_Millions Metascore
Title                                           ...
Interstellar       37   Adventure,Drama,Sci-Fi  ...           187.99      74.0
The Dark Knight    55       Action,Crime,Drama  ...           533.32      82.0
Inception          81  Action,Adventure,Sci-Fi  ...           292.57      74.0

[3 rows x 11 columns]

In [0]:
df[(df['Director']=='Christopher Nolan') | (df['Director']=='Ridley Scott')].head()

                 Rank                     Genre  ... Revenue_Millions Metascore
Title                                            ...
Prometheus          2  Adventure,Mystery,Sci-Fi  ...           126.46      65.0
Interstellar       37    Adventure,Drama,Sci-Fi  ...           187.99      74.0
The Dark Knight    55        Action,Crime,Drama  ...           533.32      82.0
The Prestige       65      Drama,Mystery,Sci-Fi  ...            53.08      66.0
Inception          81   Action,Adventure,Sci-Fi  ...           292.57      74.0

[5 rows x 11 columns]

In [0]:
df[(df['Year']>=2005) & (df['Year']<=2010) & (df['Rating']>=8.0) & (df['Revenue_Millions']<df['Revenue_Millions'].quantile(0.25)) ]

                     Rank               Genre  ... Revenue_Millions Metascore
Title                                          ...
3 Idiots              431        Comedy,Drama  ...             6.52      67.0
The Lives of Others   477      Drama,Thriller  ...            11.28      89.0
Incendies             714   Drama,Mystery,War  ...             6.86      80.0
Taare Zameen Par      992  Drama,Family,Music  ...             1.20      42.0

[4 rows x 11 columns]

In [0]:
def rating_function(x):
  if x>=8.0:
    return "good"
  else:
    return "bad"

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              1000 non-null   int64
 1   Genre             1000 non-null   object
 2   Description       1000 non-null   object
 3   Director          1000 non-null   object
 4   Actors            1000 non-null   object
 5   Year              1000 non-null   int64
 6   Runtime           1000 non-null   int64
 7   Rating            1000 non-null   float64
 8   Votes             1000 non-null   int64
 9   Revenue_Millions  1000 non-null   float64
 10  Metascore         936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 133.8+ KB

In [0]:
df['Rating_category'] = df['Rating'].apply(rating_function)

df.head(3)

                         Rank  ... Rating_category
Title                          ...
Guardians of the Galaxy     1  ...            good
Prometheus                  2  ...             bad
Split                       3  ...             bad

[3 rows x 12 columns]

In [0]:
df['Rating_category']=df['Rating'].apply(lambda x: 'good' if x>=8.0 else 'bad')

In [0]:
df.head(2)

                         Rank  ... Rating_category
Title                          ...
Guardians of the Galaxy     1  ...            good
Prometheus                  2  ...             bad

[2 rows x 12 columns]

In [0]:
mdf = pd.read_csv(base_url+'MusicTop50.csv')
mdf.head()

   Unnamed: 0                       Track.Name  ... Speechiness Popularity
0           1                         Se�orita  ...           3       79.0
1           2                            China  ...           9       92.0
2           3    boyfriend (with Social House)  ...          46       85.0
3           4  Beautiful People (feat. Khalid)  ...          19       86.0
4           5      Goodbyes (Feat. Young Thug)  ...           7       94.0

[5 rows x 14 columns]

In [0]:
mdf.tail()

    Unnamed: 0  ... Popularity
45          46  ...       88.0
46          47  ...       88.0
47          48  ...       88.0
48          49  ...       88.0
49          50  ...       82.0

[5 rows x 14 columns]

In [0]:
mdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          50 non-null     int64
 1   Track.Name          50 non-null     object
 2   Artist.Name         50 non-null     object
 3   Genre               50 non-null     object
 4   Beats.Per.Minute    48 non-null     float64
 5   Energy              49 non-null     float64
 6   Danceability..db..  50 non-null     int64
 7   Loudness..          50 non-null     int64
 8   Liveness.           48 non-null     float64
 9   Valence ()          49 non-null     float64
 10  Length              47 non-null     float64
 11  Acousticness        50 non-null     int64
 12  Speechiness         50 non-null     int64
 13  Popularity          49 non-null     float64
dtypes: float64(6), int64(5), object(3)
memory usage: 5.6+ KB

In [0]:
mdf.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability..db..', 'Loudness..', 'Liveness.', 'Valence ()',
       'Length', 'Acousticness', 'Speechiness', 'Popularity'],
      dtype='object')

In [0]:
mdf.columns=['index','trackname','artistname','genre','bpm','energy','dancedb','loudness','liveness','valence','length','acoustic','speech','pop']
mdf.columns

Index(['index', 'trackname', 'artistname', 'genre', 'bpm', 'energy', 'dancedb',
       'loudness', 'liveness', 'valence', 'length', 'acoustic', 'speech',
       'pop'],
      dtype='object')

In [0]:
mdf.head()

   index                        trackname  ... speech   pop
0      1                         Se�orita  ...      3  79.0
1      2                            China  ...      9  92.0
2      3    boyfriend (with Social House)  ...     46  85.0
3      4  Beautiful People (feat. Khalid)  ...     19  86.0
4      5      Goodbyes (Feat. Young Thug)  ...      7  94.0

[5 rows x 14 columns]

In [0]:
mdf.info()
mdf.fillna(mdf.mean(),inplace=True)
mdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       50 non-null     int64
 1   trackname   50 non-null     object
 2   artistname  50 non-null     object
 3   genre       50 non-null     object
 4   bpm         48 non-null     float64
 5   energy      49 non-null     float64
 6   dancedb     50 non-null     int64
 7   loudness    50 non-null     int64
 8   liveness    48 non-null     float64
 9   valence     49 non-null     float64
 10  length      47 non-null     float64
 11  acoustic    50 non-null     int64
 12  speech      50 non-null     int64
 13  pop         49 non-null     float64
dtypes: float64(6), int64(5), object(3)
memory usage: 5.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       50 non-null     int64
 1   trackname   50 non-null     object
 2   artistname  50 non-null     object
 3   genre       50 non-null     object
 4   bpm         50 non-null     float64
 5   energy      50 non-null     float64
 6   dancedb     50 non-null     int64
 7   loudness    50 non-null     int64
 8   liveness    50 non-null     float64
 9   valence     50 non-null     float64
 10  length      50 non-null     float64
 11  acoustic    50 non-null     int64
 12  speech      50 non-null     int64
 13  pop         50 non-null     float64
dtypes: float64(6), int64(5), object(3)
memory usage: 5.6+ KB

In [0]:
mdf['pop']

0     79.000000
1     92.000000
2     85.000000
3     86.000000
4     94.000000
5     84.000000
6     92.000000
7     90.000000
8     87.000000
9     95.000000
10    93.000000
11    87.530612
12    88.000000
13    87.000000
14    92.000000
15    82.000000
16    90.000000
17    91.000000
18    88.000000
19    91.000000
20    91.000000
21    91.000000
22    83.000000
23    91.000000
24    89.000000
25    70.000000
26    83.000000
27    89.000000
28    91.000000
29    89.000000
30    84.000000
31    89.000000
32    89.000000
33    89.000000
34    89.000000
35    89.000000
36    91.000000
37    87.000000
38    80.000000
39    78.000000
40    88.000000
41    90.000000
42    87.000000
43    84.000000
44    88.000000
45    88.000000
46    88.000000
47    88.000000
48    88.000000
49    82.000000
Name: pop, dtype: float64

In [0]:
mdf.min()

index                         1
trackname     0.958333333333333
artistname            Ali Gatie
genre               atl hip hop
bpm                          85
energy                       32
dancedb                      29
loudness                    -11
liveness                      5
valence                      10
length                      115
acoustic                      1
speech                        3
pop                          70
dtype: object

In [0]:
mdf.min()['pop']

70.0

In [0]:
mdf.max()['loudness']

-2

In [0]:
mdf[(mdf['pop']==mdf.min()['pop']) & (mdf['loudness']==mdf.max()['loudness'])]

Empty DataFrame
Columns: [index, trackname, artistname, genre, bpm, energy, dancedb, loudness, liveness, valence, length, acoustic, speech, pop]
Index: []

In [0]:
mdf[(mdf['pop']==mdf.min()['pop'])]['artistname']

25    Shawn Mendes
Name: artistname, dtype: object

In [0]:
mdf[mdf['artistname'] == 'Shawn Mendes'].max()['loudness']

-4

In [0]:
mdf[(mdf['artistname']=='Shawn Mendes') & (mdf['loudness']==-4)]

    index            trackname    artistname  ... acoustic  speech   pop
25     26  If I Can't Have You  Shawn Mendes  ...       49       6  70.0

[1 rows x 14 columns]

In [0]:
import plotly.graph_objects as go

In [0]:
mdf.columns

Index(['index', 'trackname', 'artistname', 'genre', 'bpm', 'energy', 'dancedb',
       'loudness', 'liveness', 'valence', 'length', 'acoustic', 'speech',
       'pop'],
      dtype='object')

In [0]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df.sort_values(by='loudness')['loudness'],
                         y=df.sort_values(by='loudness')['energy'],
                         name='Energy'))
fig.add_trace(go.Scatter(x=df.sort_values(by='loudness')['loudness'],
                         y=df.sort_values(by='loudness')['bpm'],
                         name='Beats Per Minute'))
fig.update_layout(xaxis_title='loudness')
fig.show()

KeyError: ignored

In [0]:
names,counts = np.unique(mdf["artistname"], return_counts=True)
df2=pd.DataFrame.from_dict(dict(zip(names,counts)),orient="index").reset_index()
df2.columns =["names","counts"]
df2.sort("counts",ascending=False).head()

AttributeError: ignored

In [0]:
#finish last 2 screenshots